
body {
  background: linear-gradient(135deg, #DAD6E5, #BBB2CE) !important;
    background-attachment: fixed !important;
}

.custom-navbar {
  background-color: #BBB2CE !important; /* Purple */
}


:root {
  --bs-primary: #7950f2 !important; /* Purple */
  --bs-secondary: #ff6b6b !important; /* Coral */
}


.bg-custom { background-color: #6A5B81 !important; }
.bg-dark { background-color: #2E263B !important; }
.bg-light { background-color: #BBB2CE !important; }

.text-custom { color: #CCCFE3 !important; }
.text-light { color: #FDFBF9 !important; }
.text-dark { color: #17141D !important; }

.navbar-custom { background-color: #7950f2 !important; }

.custom-hero {
  background-color: #636c72 !important;
  color: white !important;
  border-radius: 0.5rem !important;
  padding: 3rem !important;
}

.btn-primary {
    background-color: #7950f2 !important;
    border-color: #7950f2 !important;
}