{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="bg-gradient text-white py-5 mb-5">
    <div class="container">
        <div class="p-2 mb-2 bg-dark text-light rounded-5">
            <div class="container-fluid py-5">
                <h1 class="display-9">My Blog</h1>
                <!--<p class="lead"></p>-->
            </div>
        </div>
    </div>
</section>

<!-- Blog Posts List -->
<section class="container mb-5">

    <div class="d-flex flex-column gap-4">
    <!-- Blog Post 1 -->
    <article class="border-bottom pb-3">
        <time datetime="2026-04-10" class="text-muted small">Month 05, 2026</time>
        <h2 class="fs-5 mb-2 mt-1">Blog title 1</h2>
        <p class="text-secondary mb-0">Blog description</p>
    </article>

    <!-- Blog Post 2 -->
    <article class="border-bottom pb-3">
        <time datetime="2026-04-10" class="text-muted small">Month 03, 2026</time>
        <h2 class="fs-5 mb-2 mt-1">Blog title 2</h2>
        <p class="text-secondary mb-0">Blog description</p>
    </article>

    <!-- Blog Post 3 -->
    <article class="border-bottom pb-3">
        <time datetime="2026-04-10" class="text-muted small">Month 01, 2026</time>
        <h2 class="fs-5 mb-2 mt-1">Blog title 3</h2>
        <p class="text-secondary mb-0">Blog description</p>
    </article>

    </div>
</section>
{% endblock %}