{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
{{ page_header("Login", "Access the secret page!") }}

<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card shadow-sm mb-5">
            <div class="card-body p-4">
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Password</label>
                        <input type="email" class="form-control" id="password" required>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg px-4">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
