{% extends "base.html" %}

{% block title %}Resume{% endblock %}

{% block content %}
<div class="p-5 mb-5 bg-dark text-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5">My Resume</h1>
        <p class="lead">Professional experience and qualifications</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <!-- Education -->
        <h3 class="h4 mb-3">Education</h3>
        <div class="mb-4">
            <h5 class="h6">Software Engineering, Hanze University of Applied Sciences</h5>
            <p class="text-muted mb-1">August 2025 - Present</p>
            <p class="text-muted mb-1">Expected Graduation: 2029</p>
            <ul class="small">
                <li>This website was built with the skills I have learned here. It's pretty great, I love learning.</li>
                <li>Currently a first year student. :)</li>
            </ul>
        </div>
        <div class="mb-4">
            <h5 class="h6">Mandarin Chinese , Rijksuniversiteit Groningen</h5>
            <p class="text-muted mb-1">October 2025 - Present</p>
            <ul class="small">
                <li>我的中文还不太好。 想去中国留学。</li>
            </ul>
        </div>

        <!-- Experience -->
        <h3 class="h4 mb-3 mt-5">Experience</h3>
        <div class="mb-4">
            <h5 class="h6">Unity Developer VR Graphics | SAVR B.V.</h5>
            <p class="text-muted mb-1">Sep 2023 - Mar 2024</p>
            <p class="text-muted mb-1">Enschede, Overijssel, Netherlands</p>
            <ul class="small">
                <li>Implementing Oculus’ built in VR tracking into the existing project.</li>
                <li>Optimising the Unity project disk size, as well as starting development on a custom render pipeline, designed to increase performance on WebGL for desktop and mobile with custom-built shaders and rendering features.</li>
            </ul>
        </div>
        <div class="mb-4">
            <h5 class="h6">Pipeline Technical Director | Katuni Animation</h5>
            <p class="text-muted mb-1">August 2022 - Sep 2023</p>
            <p class="text-muted mb-1">Amsterdam, North Holland, Netherlands</p>
            <ul class="small">
                <li>Working on the technical pipeline side for the animated movie "Panda Bear in Africa," a co-production with the Danish AFilms.</li>
                <li>responsibilities include:</li>
                <li>- Maintaining and updating an animation pipeline.</li>
                <li>- Setting up Shotgrid for animation film production.</li>
                <li>- Tool development in Autodesk Maya.</li>
                <li>- Writing and maintaining documentation.</li>
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <!-- Skills -->
        <h3 class="h4 mb-3">Skills</h3>
        <div class="row">
            <div class="col-6">
                <ul class="list-unstyled small">
                    <li>C/C++</li>
                    <li>Java</li>
                    <li>OpenGL</li>
                    <li>GLSL/HLSL</li>
                    <li>Python</li>
                    <li>Lua</li>
                </ul>
            </div>
            <div class="col-6">
                <ul class="list-unstyled small">
                    <li>ZBrush</li>
                    <li>Blender</li>
                    <li>Houdini</li>
                    <li>Adobe-Substance-Suite</li>
                    <li>Adobe-Photoshop</li>
                    <li>Adobe-Illustrator</li>
                    <li>Unity</li>
                    <li>Unreal Engine 4/5</li>
                </ul>
            </div>
        </div>

        <!-- Contact -->
        <h3 class="h4 mb-3 mt-4">Contact</h3>
        <p class="small mb-1">E-Mail: contact@ItsMaxine.eu</p>
        <p class="small mb-1">LinkedIn: linkedin.com/in/maxinemeijboom</p>
        <p class="small">Github: github.com/maxinecodes</p>
    </div>
</div>
{% endblock %}
