{% extends "base.html" %}

{% block title %}Resume{% endblock %}

{% block content %}
{{ page_header("Resume", "My experienced and qualifications") }}

<div class="card-light shadows-sm p-5 bg-light mb-5">
  <div class="row">
    <div class="col-md-8">
      <!-- Education -->
      <h3 class="h4 mb-3 mt-5">Education</h3>
      <div class="mb-5">
        <h5 class="card-title h5">Software Engineering, Hanze University of Applied Sciences</h5>
        <p class="text-muted mb-1">August 2025 - Present</p>
        <p class="text-muted mb-3">Expected Graduation: 2029</p>
          <p class="mb-1">This website was built with the skills I have learned here. It's pretty great, I love learning.</p>
          <p class="mb-1">Currently a first year student. :)</p>
      </div>

      <!-- Experience -->
      <h3 class="h4 mb-3 mt-5">Experience</h3>
      <div class="mb-5">
        <h5 class="card-title h5">Unity Developer VR Graphics | SAVR B.V.</h5>
        <p class="text-muted mb-1">Sep 2023 - Mar 2024</p>
        <p class="text-muted mb-3">Enschede, Overijssel, Netherlands</p>
          <p class="mb-1">Implementing Oculus’ built in VR tracking into the existing project.</p>
          <p class="mb-1">Optimising the Unity project disk size, as well as starting development on a custom render pipeline, designed to increase performance on WebGL for desktop and mobile with custom-built shaders and rendering features.</p>
      </div>
      <div class="mb-5">
        <h5 class="card-title h5">Pipeline Technical Director | Katuni Animation</h5>
        <p class="text-muted mb-1">August 2022 - Sep 2023</p>
        <p class="text-muted mb-3">Amsterdam, North Holland, Netherlands</p>
          <p class="mb-1">Working on the technical pipeline side for the animated movie "Panda Bear in Africa," a co-production with the Danish AFilms.</p>
          <p class="mb-1">responsibilities include:</p>
          <p class="mb-1">- Maintaining and updating an animation pipeline.</p>
          <p class="mb-1">- Setting up Shotgrid for animation film production.</p>
          <p class="mb-1">- Tool development in Autodesk Maya.</p>
          <p class="mb-1">- Writing and maintaining documentation.</p>
      </div>
    </div>

    <div class="col-md-4">
      <!-- Skills -->
      <div class="mb-4">
        <h3 class="h4 mb-3 mt-5">Skills</h3>
        <div class="row">
          <div class="col-6">
            <ul class="list-unstyled small mb-0">
              <li>C/C++</li>
              <li>Java</li>
              <li>OpenGL</li>
              <li>GLSL/HLSL</li>
              <li>Python</li>
              <li>Lua</li>
            </ul>
          </div>
          <div class="col-6">
            <ul class="list-unstyled small mb-0">
              <li>ZBrush</li>
              <li>Blender</li>
              <li>Houdini</li>
              <li>Adobe-Substance-Suite</li>
              <li>Adobe-Photoshop</li>
              <li>Adobe-Illustrator</li>
              <li>Unity</li>
              <li>Unreal Engine 4/5</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Contact -->
      <div>
        <h3 class="h4 mb-3 mt-5">Contact</h3>
        <p class="small mb-1">E-Mail: contact@ItsMaxine.eu</p>
        <p class="small mb-1">LinkedIn: linkedin.com/in/maxinemeijboom</p>
        <p class="small mb-0">Github: github.com/maxinecodes</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
